---
layout: default
---
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
      {% include fork.html %}
    </div>

    <div class="main">
      {% include career-profile.html %}
      {% include experience.html %}
      <!--{% include publications.html %}-->
      {% include projects.html %}
      <!--{% include volunteering.html %} -->
    </div>
  </div>
</div>
