{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experiance">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                {{exp.company}} 
                <span class="time">{{exp.time}}</span>
            </div> 
            <div class="details">
                <ul style="list-style-type:circle">
                    {% for exp_details in exp.details %}                   
                        <li>{{exp_details}}</li>
                    {% endfor %}
                </ul>
            </div>
            <p class="technologies">Technologies Used: 
                {% for technologies_used in exp.technologies_used %}                   
                    <label style="padding-right: 3px; background-color: #e7e7e7; color: black;">
                        {{technologies_used}}
                    </label>
                {% endfor %}
            </p>
        </div>
       
    {% endfor %}
</section>
{% endif %}